.imgBtn {
	color: white !important;
	font-size: 16px !important;
	border: none !important;
}

.funcBtn {
	color: white !important;
	font-size: 16px !important;
	border: none !important;
	background-color: #85a1a9 !important;
	box-shadow: none !important;
}

.screenBtn {
    color: #85a1a9 !important;
    background-color: white !important;
    font-size: 16px !important;
	border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
}

.funcBtn:hover,
.funcBtn:active {
	background-color: #85a1a9 !important;
	box-shadow: none !important;
}

.desTable {
	display: inline-block !important;
}

.roundBtn {
	background: #85a1a9 !important;
	border-radius: 50% !important;
	padding: 0;
	color: #fff !important;
	font-weight: 900 !important;
	font-size: 20px !important;
	border: 2px solid #85a1a9 !important;
	height: 64px !important;
	width: 50px !important;
}

.roundBtn:hover,
.roundBtn:hover {
	background: #fff !important;
	color: #85a1a9 !important;
}

.angleBtns {
	/* height: 800px !important; */
	width: 600px !important;
	position: absolute !important;
	z-index: 99 !important;
	margin: 368px auto !important;
}

.previewBtn {
	margin: 1em 25% 0 25% !important;
	width: 50% !important;
	background: #85a1a9 !important;
	color: #fff !important;
	padding: 10px 16px !important;
	font-size: 16px !important;
}

.previewBtn:hover, .previewBtn:active {
	background: #85a1a9 !important;
	color: #fff !important;
}

