.imgBtn {
	color: white !important;
	font-size: 16px !important;
	border: none !important;
}

.funcBtn {
	color: white;
	font-size: 16px;
	border: none;
	background-color: #85a1a9;
	box-shadow: none !important;
}

.funcBtn:hover,
.funcBtn:active {
	background-color: #85a1a9;
	box-shadow: none !important;
}

.desTable {
	display: inline-block;
}

.roundBtn {
	background: #85a1a9;
	border-radius: 50%;
	padding: 0;
	color: #fff;
	font-weight: 900;
	font-size: 20px;
	border: 2px solid #85a1a9;
    height: 64px;
    width: 50px;
}

.roundBtn:hover, .roundBtn:hover {
    background: #fff;
    color: #85a1a9;
}

.angleBtns {
    height: 800px;
    width: 600px;
    position: absolute;
    z-index: 99;
    margin: 368px auto;
}