html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.text-logo .single-resizer  {
	opacity: 0;
}

.text-logo .single-resizer:hover {
	opacity: 1;
}

.MuiSlider-valueLabelOpen.MuiSlider-valueLabel::before {
	display: none !important;
}

.MuiSlider-valueLabelOpen.MuiSlider-valueLabel {
	top: 40px !important;
}

.addPx {
	max-width: 220px;
}

.addPx .MuiSlider-valueLabelLabel:after {
	content: " px";
}
.addDeg .MuiSlider-valueLabelLabel:after {
	content: " deg";
}

.MuiSlider-valueLabelLabel {
	font-size: 10px !important;
}

.column.main.col-lg-12.col-md-12.col-sm-12.col-xs-12, section#maincontent {
	padding: 0 !important;
}

.custom-group-mobile #myCanvas img {
	width: 100% !important;
}

.des-mobile>span {
	width: 100% !important;
}

.custom-text-div {
	display: inline-block !important;
}

.angleRight45 {
	transform: rotateY(45deg);
	width: 55%;
	left: 10%;
	position: absolute;
}

.angleLeft45 {
	transform: rotateY(-45deg);
	width: 55%;
	right: 45%;
	position: absolute;
}

.custom-vape {
	width: 80%;
	min-width: 1205px;
	max-width: 1405px;
	margin: 0 auto;
}

.MuiImageList-root {
	height: auto !important;
	width: 280px !important;
	grid-template-rows: repeat(4, 1fr) !important;
	flex-wrap: wrap !important;
}

.MuiImageListItem-img {
	object-fit: contain !important;
	width: 90px !important;
}

.messageInput,
.messageInput label,
.messageInput textarea,
.messageInput legend,
.messageInput span,
#outlined-multiline-static {
	font-size: 16px !important;
}

.messageInput label {
	padding: 0 !important;
	margin: 0 !important;
}

.custom-radio span {
	font-size: 16px !important;
}

.react-draggable {
	cursor: pointer;
}

.custom-btn {
	border: 1px solid #85a1a9;
	background: #85a1a9;
	color: #fff;
	padding: 6px 20px;
}

#custom-vapes h5 {
	margin-bottom: 1em;
}

.step2-product {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: space-around;
	align-items: center;
}

.product-img {
	margin: 0 50px 50px 0;
	display: flex;
	flex-direction: column;
	text-align: center;
	border: none;
	background: transparent;
}

.product-img>span {
	margin: 0 auto;
}

#product-description {
	border: 1px solid gray;
	border-radius: 10px;
	padding: 1%;
	margin: 2% auto;
	max-width: 800px;
}

#product-description>div {
	flex-direction: row;
	justify-content: space-evenly;
}

#product-description>div>span {
	display: inline-block;
}

.input-group-mobile {
	position: relative;
	top: 700px;
	width: 100%;
	min-width: 300px;
	padding: 0 16px 16px;
}

.input-group {
	position: relative;
	left: 640px;
	padding: 0 16px 16px;
}

.input-group table tbody td,
.input-group table tbody th,
.input-group-mobile table tbody td,
.input-group-mobile table tbody th {
	padding: 10px 0;
}

#input-submit {
	width: 200px;
	margin: 20px auto;
	text-align: center;
}

a.button-style:hover,
a.button-style:focus,
a.button-style:active {
	color: #fff !important;
}

.text-logo {
	z-index: 99;
	position: relative;
}

/* .draggable {
	cursor: pointer;
  }
  .custom-vape {
	display: flex;
	flex-direction: row;
	justify-content: center;
	max-width: 1200px;
	margin: 0 auto;
  }
  .input-group {
	display: flex;
	flex-direction: column;
	width: 80%;
  }
  .custom-group {
	display: flex;
	width: 100%;
	max-width: 400px;
	flex-direction: column;
	justify-content: center;
	position: relative;
  }
  .custom-img {
	display: block;
	text-align: center;
	width: auto;
	height: auto;
  }
  .custom-img img {
	display: inline-block;
	z-index: 1;
	overflow: hidden;
	position: relative;
	vertical-align: middle;
	line-height: 1;
	border-style: none;
	vertical-align: top;
	object-fit: contain;
  } */

#display-text-one,
#display-text-five {
	position: absolute;
	z-index: 99;
	color: gray;
	word-break: break-word;
}

/* .logo-div-one {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 99;
	width: 6%;
	height: auto;
	max-width: 25px;
	max-height: 26px;
	margin: 0 auto;
  }
  .display-one-div,
  .display-five-div {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
  } */

.display-logo-div {
	width: 200px;
	height: 200px;
	/* vertical-align: middle; */
	position: absolute;
	display: block;
	left: 0;
	right: 0;
	z-index: 99 !important;
	/* top: 200px; */
}

#display-text-three,
#display-text-seven {
	position: absolute;
	z-index: 99;
	color: gray;
	word-break: break-word;
}

/* #display-text-three,
  #display-text-one {
	transform: rotate(90deg);
  }
  #display-text-seven,
  #display-text-five {
	transform: rotate(270deg);
  }
  .next-btn {
	display: flex;
	margin-right: 20px;
	padding-top: 26%;
  }
  .next-btn button {
	background: #85A1A9;
	border-radius: 25px;
	padding: 0 11.5px;
	height: 39px;
	color: #fff;
	font-weight: 900;
	font-size: 20px;
	border: 2px solid #85A1A9;
  } */

.display-two-div,
.display-four-div,
.display-six-div,
.display-eight-div {
	position: absolute;
	z-index: 99;
	color: gray;
	word-break: break-word;
}

/* 
  .display-two-div,
  .display-six-div {
	margin: 0 48% 0 auto;
  }
  .display-four-div,
  .display-eight-div {
	margin: 0 auto 0 40%;
  }
  .display-two-div,
  .display-four-div {
	perspective-origin: left;
  }
  .display-six-div,
  .display-eight-div {
	perspective-origin: right;
  }
  #display-text-two,
  #display-text-six {
	transform: rotateY(25deg);
  }
  #display-text-four,
  #display-text-eight {
	transform: rotateY(45deg);
  } */

.logo-div-two,
.logo-div-eight {
	display: block;
	position: absolute;
	z-index: 99;
}

/* 
  .logo-div-two {
	margin: 0 49.6% 0 auto;
	perspective-origin: left;
  }
  .logo-div-eight {
	margin: 0 auto 0 51.5%;
	perspective-origin: right;
  }
  #display-logo-two,
  #display-logo-eight {
	max-width: 100%;
	vertical-align: inherit;
	height: auto;
  }
  #display-logo-two {
	transform: rotateY(-45deg);
  }
  #display-logo-eight {
	transform: rotateY(45deg);
  } */

#one,
#two,
#three,
#four,
#five,
#six,
#seven,
#eight {
	transition: all 0.5s ease;
}

.color-box {
	width: 20px;
	height: 20px;
	display: inline-block;
}

.input-group>table, .input-group-mobile>table {
	border: none;
}

.input-group>table th {
	width: 35%;
}

.input-group-mobile>table th {
	width: 45%;
	min-width: 120px;
}

.input-group>table th,
.input-group>table td,
.input-group-mobile>table th,
.input-group-mobile>table td {
	vertical-align: top;
}

.button-style {
	height: 40px;
	background: #85a1a9;
	width: auto;
	margin: 0 3px;
	padding: 6px 20px;
	border-radius: 27px;
	border: solid 1px #85a1a9 !important;
	color: #fff;
}

.logo-button {
	background: #85a1a9;
	width: auto;
	margin: 0 3px;
	padding: 6px 20px;
	border-radius: 27px;
	border: solid 1px #85a1a9 !important;
	color: #fff;
}

.pattern-div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 10px 0;
}